.wrapper {
  min-width: 0px; }

.container {
  width: auto;
  max-width: 940px; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'ubunt';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubunt';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubunt';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'ubunt';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

html {
  height: 100%;
  font-size: 14px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 12px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 11px; } }

body {
  font-family: ubunt, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

a {
  text-decoration: none; }

p {
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

footer {
  width: 100%; }

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%; }

.container {
  margin: 0 auto;
  max-width: 67.1428571429rem;
  width: 95%; }

.section {
  height: 100vh;
  min-height: 650px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .section_centred {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .section_centred .title {
      width: 100%;
      text-align: center; }

.btn {
  padding: 0.7142857143rem;
  background: #e45028;
  color: #ffffff;
  border-radius: 0.71429rem; }

.title {
  font-size: 5.1428571429rem;
  text-transform: uppercase;
  font-family: gagalin, Arial, Helvetica, sans-serif;
  margin-bottom: 3.2142857143rem; }

.hero {
  background: url(../img/bg.png) center center/cover no-repeat; }

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.without_button {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.9285714286rem;
  text-transform: uppercase; }

.header_img {
  margin-top: 0.7142857143rem; }

.logo {
  width: 6.5714285714rem;
  height: 5.75rem; }

@media screen and (max-width: 768px) {
  .menu {
    display: none; } }

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.point {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .point:last-child::after {
    display: none; }
  .point:after {
    content: "";
    width: 0.4285714286rem;
    height: 0.4285714286rem;
    border-radius: 50%;
    background: #ffffff;
    display: inline-block;
    margin: 0 0.7142857143rem; }

.point_link {
  color: inherit; }

.header_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.btn_header {
  margin-left: 1.0714285714rem;
  margin-right: 2rem; }

.hum_menu {
  width: 0;
  height: 0.28571rem;
  border-radius: 0.35714rem;
  background: #ffffff;
  position: relative;
  width: 0; }
  @media screen and (max-width: 768px) {
    .hum_menu {
      width: 1.71429rem;
      margin-right: 1.21429rem; } }

.hum_menu:after, .hum_menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0.28571rem;
  border-radius: 0.35714rem;
  background: #ffffff;
  position: absolute; }
  @media screen and (max-width: 768px) {
    .hum_menu:after, .hum_menu:before {
      width: 1.71429rem;
      margin-right: 1.21429rem; } }

.hum_menu:after {
  top: 100%;
  margin-top: 0.28571rem; }

.hum_menu:before {
  bottom: 100%;
  margin-bottom: 0.28571rem; }

.hero_content-image {
  margin-right: 0.7857142857rem;
  width: 6.5714285714rem; }

.hero_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .hero_content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.hero_content-title {
  line-height: 1;
  margin-bottom: 0; }

.hero_content-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 0.85714rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.64286rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero_burger {
  max-width: 100%; }

.hero_content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5.8571428571rem 0;
  margin-top: 4.5rem; }
  @media screen and (max-width: 768px) {
    .hero_content-text {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.hero_content-title {
  color: #f9b43b; }

.hero_content-description {
  color: #ffffff;
  font-family: lifehack;
  font-size: 4.2857142857rem;
  line-height: 1em; }
  @media screen and (max-width: 768px) {
    .hero_content-description {
      text-align: center; } }

.section_centred-best {
  background: url(../img/bg2.png) center center/cover no-repeat; }

.button_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 2.85714rem; }

@media screen and (max-width: 480px) {
  .best-container {
    padding: 0 1.42857rem; } }

.best {
  color: black; }

.best_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .best_list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.best_img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2.1428571429rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .best_img-wrap {
      margin-right: 1.92857rem; } }

.meat {
  width: 6.9285714286rem;
  height: 6.3571428571rem; }

.best_point {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.0714285714rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .best_point:last-child {
    margin: 0; }
  @media screen and (max-width: 480px) {
    .best_point {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 3.57143rem; }
      .best_point:last-child {
        margin: 0; } }

.best_point-title {
  font-family: lifehack;
  font-size: 1.7142857143rem;
  text-align: center;
  margin-bottom: 2rem; }
  @media screen and (max-width: 480px) {
    .best_point-title {
      text-align: start; } }

.best_description {
  font-size: 1rem;
  display: inline-block;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best_description {
      text-align: start; } }

.section_slider {
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%); }

.slider_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.button_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1.07143rem;
  height: 2.07143rem; }

.arrow_scroll-left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.arrow_scroll-right {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.consist {
  width: 6.42857rem;
  height: 6.42857rem;
  background: #f08b33;
  border-radius: 0.71429rem; }

.buns {
  width: 3.28571rem;
  height: 3.14286rem; }

.reviews {
  background: #000000; }

.review_list {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #ffffff; }

.reviews_item {
  width: calc(100%/4);
  height: 50%;
  background: center center / cover no-repeat;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .reviews_item:hover .review_hover {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews_item {
      width: calc(100%/2);
      height: calc(100%/4); } }

.review_hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 3.2857142857rem 1.5rem;
  opacity: 0;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  font-size: 1rem; }
  @media screen and (max-width: 768px) {
    .review_hover {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.review_title {
  font-family: gagalin;
  margin-bottom: 2.0714285714rem; }

.review_content {
  margin-bottom: 1rem; }
  @media screen and (max-width: 480px) {
    .review_content {
      display: none; } }

.review_link {
  color: #ffffff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.btn_black {
  background: #000000;
  width: 7.8571428571rem;
  height: 2.5rem;
  padding: 0.9285714286rem 1.0714285714rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.fixed_menu {
  position: fixed;
  top: 3.92857rem;
  right: 3.35714rem; }
  @media screen and (max-width: 768px) {
    .fixed_menu {
      display: none; } }

.fixed_menu-item {
  display: block;
  position: relative;
  border: transparent solid 0.07143rem;
  width: 1.14286rem;
  height: 1.14286rem;
  border-radius: 50%;
  margin-bottom: 1rem; }
  .fixed_menu-item:last-child {
    margin-bottom: 0; }
  .fixed_menu-item:before {
    content: "";
    display: block;
    position: relative;
    border: transparent solid 0.07143rem;
    width: 1.14286rem;
    height: 1.14286rem;
    border-radius: 50%;
    margin-bottom: 1rem; }
  .fixed_menu-item:hover {
    border-color: #ffffff;
    cursor: pointer; }
  .fixed_menu-item::after {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 0.4285714286rem;
    height: 0.4285714286rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.order {
  background: url("../img/bg_order.png") center center/cover no-repeat; }

.title_order {
  color: #f9b43b; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 0.71429rem;
      margin-right: 0.71429rem; } }

.side_order {
  margin-right: 1rem;
  width: 50%; }
  .side_order:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .side_order {
      width: 100%; } }

.form_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.1428571429rem; }

.form_row-street {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.form_block {
  margin-right: 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%; }
  .form_block:last-child {
    margin-right: 0; }

.form_block-title {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.5714285714rem; }

.money_back {
  margin-right: 1.42857rem; }

.form_block-input {
  border-radius: 0.3571428571rem;
  height: 2.5rem;
  padding: 0.7142857143rem 1.2857142857rem;
  border: none;
  width: 100%; }
  .form_block-input:focus {
    border: #f9b43b solid 0.14286rem;
    outline: none !important; }

.comment {
  height: 7.7857142857rem; }

.radiocontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .radiocontainer {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.radio {
  display: none; }

.checkbox {
  display: none; }

.radio-custom {
  width: 1.0714285714rem;
  height: 1.0714285714rem;
  background: #ffffff;
  margin-right: 0.57143rem; }

.radio-custom-circle {
  border-radius: 50%; }

.radio:checked + .radio-custom-circle::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #e45028;
  margin-top: 0.285714285rem;
  margin-left: 0.285714285rem; }

.checkbox:checked + .radio-custom-checkbox::after {
  content: "";
  position: absolute;
  width: 0.5714285714rem;
  height: 0.4285714286rem;
  border: 0.21429rem solid #e45028;
  border-top: transparent;
  border-right: transparent;
  margin-top: 0.1428571429rem;
  margin-left: 0.1428571429rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 10%; }

.check_container {
  margin-bottom: 1.07143rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .check_container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.label_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 768px) {
  .buttons_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.form__submit-button {
  border: none; }

.form__submit-clear {
  background: transparent;
  border: none; }

.wrapper {
  min-width: 0px; }

.container {
  width: auto;
  max-width: 940px; }

.section_centred-team {
  background: url(../img/bg_team.png) center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative; }

.container_team {
  left: 50%;
  height: 100%;
  background-color: #2f3234;
  opacity: 0.93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 6.78571rem;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .container_team {
      left: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0; } }

.title_team {
  color: #f9b43b; }

.team_item {
  color: #ffffff;
  font-family: gagalin;
  margin-bottom: 2.5714285714rem; }
  .team_item:last-child {
    margin: 0; }

.emp_name {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }

.element {
  border: solid transparent 0.5rem;
  border-top-color: #f9b43b;
  margin-right: 0.5714285714rem;
  margin-top: 0.5rem; }

.hidden_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 23.5714285714rem;
  font-family: ubunt;
  font-size: 1rem;
  height: 0;
  display: none; }

.hidden_img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 7.14286rem;
  height: 7.14286rem;
  border-radius: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  margin-right: 1.42857rem; }

.proffesion {
  margin-bottom: 1.4285714286rem;
  font-weight: 700; }

.map {
  background: url(../img/bg_map.png) center center no-repeat/cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.burger_menu {
  background: url(../img/bg_menu.png) center center no-repeat/cover;
  position: relative;
  color: #fff; }

.container_menu-burger {
  padding-top: 3.9285714286rem; }

.main_title {
  font-family: gagalin;
  font-size: 5.1428571429rem;
  text-transform: uppercase; }

.list_menu-burger {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  overflow: hidden; }

.item_menu-burger {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex; }

.menu_bg {
  position: relative;
  width: 5.7142857143rem;
  font-family: 'Gagalin', sans-serif;
  font-size: 2.5rem;
  color: #fff;
  line-height: 5.7142857143rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-transform: uppercase; }

.menu_burger-title {
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 2.8571428571rem;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.menu_text {
  padding-top: 0.71429rem;
  max-width: 0rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-property: max-width, opacity, visibility;
  -o-transition-property: max-width, opacity, visibility;
  transition-property: max-width, opacity, visibility; }

.menu_bg {
  background: center center no-repeat / cover; }

.footer {
  height: 4.2857142857rem;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5714285714rem 5.7142857143rem;
  position: absolute; }
  @media screen and (max-width: 480px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 8.28571rem; } }

.left_footer {
  font-size: 1rem;
  width: 50%; }
  @media screen and (max-width: 480px) {
    .left_footer {
      text-align: center;
      margin-bottom: 1.35714rem;
      width: 100%; } }

.address {
  color: #ffffff;
  margin-bottom: 0.5rem; }

.phone_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .phone_wrap {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.phone_img-container {
  padding-top: 0.05rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.phone_img {
  width: 0.8571428571rem;
  height: 0.7857142857rem; }

.phone_number {
  margin-left: 0.5rem; }

.phone_link {
  color: #e45028;
  font-style: normal;
  font-weight: 700; }

.right_footer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .right_footer {
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.soc_img-link {
  margin-right: 1.14286rem; }

.soc_img {
  width: 1.4285714286rem;
  height: 1.4285714286rem;
  fill: #5a5a5a; }
  .soc_img:hover {
    fill: #ffffff; }

/*# sourceMappingURL=main.css.map */