$red:#e45028;
$yellow: #f9b43b;
$black: #2f3234;

//breakpoints
$tablets: 768px;
$phones: 480px;

@import "./adaptive.scss";
@import "./fonts.scss";
@import "./layout.scss";
@import "./scss_blocks/hero.scss";
@import "./scss_blocks/best.scss";
@import "./scss_blocks/slider.scss";
@import "./scss_blocks/composition.scss";
@import "./scss_blocks/reviews.scss";
@import "./scss_blocks/fixed_menu.scss";
@import "./scss_blocks/order.scss";
@import "./adaptive.scss";
@import "./scss_blocks/team.scss";
@import "./scss_blocks/map.scss";
@import "./scss_blocks/menu.scss";
@import "./scss_blocks/footer.scss";
@import "./scss_blocks/menu_mobile.scss";