.wrapper {
  min-width: 0px; }

.container {
  width: auto;
  max-width: 940px; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'ubunt';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubunt';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubunt';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'ubunt';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

html {
  height: 100%;
  font-size: 14px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 12px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 11px; } }

body {
  font-family: ubunt, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

a {
  text-decoration: none; }

p {
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

footer {
  width: 100%; }

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%; }

.container {
  margin: 0 auto;
  max-width: 67.1428571429rem;
  width: 95%; }

.section {
  height: 100vh;
  min-height: 650px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .section_centred {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .section_centred .title {
      width: 100%;
      text-align: center; }

.btn {
  padding: 0.71429rem;
  background: #e45028;
  color: #ffffff;
  border-radius: 0.71429rem; }

.title {
  font-size: 5.14286rem;
  text-transform: uppercase;
  font-family: gagalin, Arial, Helvetica, sans-serif;
  margin-bottom: 3.21429rem; }

.close_mobile {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer; }

.close {
  background: #ec8468;
  height: 1.42857rem;
  width: 0.28571rem;
  background: peru;
  border-radius: 10%;
  position: relative; }
  .close::after {
    display: block;
    content: "";
    height: 0.28571rem;
    width: 1.42857rem;
    background: #ec8468;
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.hero {
  background: url(../img/bg.png) center center/cover no-repeat; }

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.without_button {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.9285714286rem;
  text-transform: uppercase; }

.header_img {
  margin-top: 0.7142857143rem; }

.logo {
  width: 6.5714285714rem;
  height: 5.75rem; }

@media screen and (max-width: 768px) {
  .menu {
    display: none; } }

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.point {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .point:last-child::after {
    display: none; }
  .point:after {
    content: "";
    width: 0.4285714286rem;
    height: 0.4285714286rem;
    border-radius: 50%;
    background: #ffffff;
    display: inline-block;
    margin: 0 0.7142857143rem; }

.point_link {
  color: inherit; }

.header_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.btn_header {
  margin-left: 1.0714285714rem;
  margin-right: 2rem; }

.hum_menu {
  width: 0;
  height: 0.28571rem;
  border-radius: 0.35714rem;
  background: #ffffff;
  position: relative;
  width: 0; }
  @media screen and (max-width: 768px) {
    .hum_menu {
      width: 1.71429rem;
      margin-right: 1.21429rem;
      cursor: pointer; } }

.hum_menu:after, .hum_menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0.28571rem;
  border-radius: 0.35714rem;
  background: #ffffff;
  position: absolute; }
  @media screen and (max-width: 768px) {
    .hum_menu:after, .hum_menu:before {
      width: 1.71429rem;
      margin-right: 1.21429rem;
      cursor: pointer; } }

.hum_menu:after {
  top: 100%;
  margin-top: 0.28571rem; }

.hum_menu:before {
  bottom: 100%;
  margin-bottom: 0.28571rem; }

.hero_content-image {
  margin-right: 0.7857142857rem;
  width: 6.5714285714rem; }

.hero_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .hero_content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.hero_content-title {
  line-height: 1;
  margin-bottom: 0; }

.hero_content-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 0.85714rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.64286rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero_burger {
  max-width: 100%; }

.hero_content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5.8571428571rem 0;
  margin-top: 4.5rem; }
  @media screen and (max-width: 768px) {
    .hero_content-text {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.hero_content-title {
  color: #f9b43b; }

.hero_content-description {
  color: #ffffff;
  font-family: lifehack;
  font-size: 4.2857142857rem;
  line-height: 1em; }
  @media screen and (max-width: 768px) {
    .hero_content-description {
      text-align: center; } }

.section_centred-best {
  background: url(../img/bg2.png) center center/cover no-repeat; }

.button_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 2.85714rem; }

@media screen and (max-width: 480px) {
  .best-container {
    padding: 0 1.42857rem; } }

.best {
  color: black; }

.best_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .best_list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.best_img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2.1428571429rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .best_img-wrap {
      margin-right: 1.92857rem; } }

.meat {
  width: 6.9285714286rem;
  height: 6.3571428571rem; }

.best_point {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.0714285714rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .best_point:last-child {
    margin: 0; }
  @media screen and (max-width: 480px) {
    .best_point {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 3.57143rem; }
      .best_point:last-child {
        margin: 0; } }

.best_point-title {
  font-family: lifehack;
  font-size: 1.7142857143rem;
  text-align: center;
  margin-bottom: 2rem; }
  @media screen and (max-width: 480px) {
    .best_point-title {
      text-align: start; } }

.best_description {
  font-size: 1rem;
  display: inline-block;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best_description {
      text-align: start; } }

.section_slider {
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.container_slider {
  max-width: 940px;
  width: 90% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media screen and (max-width: 768px) {
    .container_slider {
      padding-left: 3rem;
      padding-right: 3rem; } }

.arrow_scroll {
  position: absolute;
  top: 50%; }
  .arrow_scroll-left {
    left: -1.71429rem;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .arrow_scroll-right {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    right: -1.71429rem; }

.arrow_link {
  width: 1.07143rem;
  height: 2.14286rem; }

.slider_list {
  height: 100%;
  width: 100%; }

.slider_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative; }

.slider_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .slider_wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 3.57143rem; } }

.slider_col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .slider_col-img {
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.slider_img-burger {
  max-width: 100%; }

.title_slider {
  color: #ffffff;
  line-height: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .title_slider {
      text-align: center; } }

.slider_text {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 2.71429rem; }
  @media screen and (max-width: 768px) {
    .slider_text {
      text-align: center; } }

.slider_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  @media screen and (max-width: 768px) {
    .slider_info {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.slider_price {
  font-family: gagalin;
  font-size: 2.14286rem;
  color: #e45028;
  margin-right: 2.14286rem; }

.slider_price-rub {
  font-size: 5.14286rem; }

.btn_slider {
  width: 6.92857rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase; }

.kkal {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  font-family: gagalin;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .kkal {
      top: 0;
      right: 0;
      bottom: auto;
      left: auto; } }

.kkal_img {
  width: 4.28571rem;
  height: 4.28571rem; }

.kkal_amount {
  font-size: 1.42857rem;
  position: absolute;
  top: 30%; }

.kkal_title {
  font-size: 1rem; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.composition {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .composition:hover .composition_drop {
    opacity: 1; }
  .composition:hover .composition_btn {
    background: #e45028; }

.composition_btn {
  width: 6.42857rem;
  height: 6.42857rem;
  background: #f29849;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-family: gagalin;
  font-size: 1rem;
  border-radius: 5%;
  cursor: pointer; }

.buns_img {
  width: 3.28571rem;
  height: 3.14286rem;
  margin-bottom: 0.71429rem; }

.composition_drop {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.drop_list {
  width: 19.42857rem;
  height: 23.78571rem;
  background: #ffffff;
  opacity: 0.902;
  border-radius: 5%;
  padding: 1.28571rem 2rem;
  font-size: 1rem;
  display: table; }

.drop_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  display: table-row; }
  .drop_items:last-child {
    margin-bottom: none; }

.drops_img,
.ingridient,
.weight {
  display: table-cell;
  vertical-align: middle; }

.drops_img {
  margin-right: 1.42857rem;
  width: 3.42857rem;
  height: 3rem; }

.ingridient {
  margin-right: 4.92857rem;
  font-weight: 600;
  width: 9.28571rem; }

.drop_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  justify-self: flex-end; }

.reviews {
  background: #000000; }

.review_list {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #ffffff; }

.reviews_item {
  width: calc(100%/4);
  height: 50%;
  background: center center / cover no-repeat;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .reviews_item:hover .review_hover {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews_item {
      width: calc(100%/2);
      height: calc(100%/4); } }

.review_hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 3.2857142857rem 1.5rem;
  opacity: 0;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  font-size: 1rem; }
  @media screen and (max-width: 768px) {
    .review_hover {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.review_title {
  font-family: gagalin;
  margin-bottom: 2.0714285714rem; }

.review_content {
  margin-bottom: 1rem; }
  @media screen and (max-width: 480px) {
    .review_content {
      display: none; } }

.review_link {
  color: #ffffff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.btn_black {
  background: #000000;
  width: 7.8571428571rem;
  height: 2.5rem;
  padding: 0.9285714286rem 1.0714285714rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section_video {
  background: url(../img/bg_video.png) center center/cover no-repeat; }

.video_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }

.video_wrap {
  width: 47.14286rem;
  height: 26.42857rem;
  position: relative; }

.video {
  width: 47.14286rem;
  height: 26.42857rem; }

.controls {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background: #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 47.14286rem;
  height: 2.5rem;
  padding-left: 1.42857rem;
  padding-right: 1.42857rem; }

.controls_play {
  cursor: pointer; }

.play .play_img-begin {
  display: none; }

.play .close_video {
  display: block; }

.play_img-begin {
  display: block;
  width: 1.14286rem;
  height: 1.57143rem;
  fill: #626262; }

.close_video {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  display: none; }

.controls_range {
  width: 31.71429rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }

.controls_range-volume {
  width: 4.14286rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }

.progress {
  width: 100%;
  height: 0.28571rem;
  background-color: #626262;
  -webkit-appearance: none;
  cursor: pointer; }
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0.92857rem;
    height: 0.92857rem;
    border-radius: 50%;
    background-color: #626262; }

.controls_volume {
  cursor: pointer; }

.volume_img {
  width: 1.28571rem;
  height: 1.57143rem;
  fill: #626262; }

.fixed_menu {
  position: fixed;
  top: 3.92857rem;
  right: 3.35714rem; }
  @media screen and (max-width: 768px) {
    .fixed_menu {
      display: none; } }

.fixed_menu-item {
  display: block;
  position: relative;
  border: transparent solid 0.07143rem;
  width: 1.14286rem;
  height: 1.14286rem;
  border-radius: 50%;
  margin-bottom: 1rem; }
  .fixed_menu-item:last-child {
    margin-bottom: 0; }
  .fixed_menu-item:before {
    content: "";
    display: block;
    position: relative;
    border: transparent solid 0.07143rem;
    width: 1.14286rem;
    height: 1.14286rem;
    border-radius: 50%;
    margin-bottom: 1rem; }
  .fixed_menu-item:hover {
    border-color: #ffffff;
    cursor: pointer; }
  .fixed_menu-item::after {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 0.4285714286rem;
    height: 0.4285714286rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.active {
  border-color: #ffffff;
  cursor: pointer; }

.order {
  background: url("../img/bg_order.png") center center/cover no-repeat; }

.title_order {
  color: #f9b43b; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 0.71429rem;
      margin-right: 0.71429rem; } }

.side_order {
  margin-right: 1rem;
  width: 50%; }
  .side_order:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .side_order {
      width: 100%; } }

.form_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.1428571429rem; }

.form_row-street {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.form_block {
  margin-right: 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%; }
  .form_block:last-child {
    margin-right: 0; }

.form_block-title {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.5714285714rem; }

.money_back {
  margin-right: 1.42857rem; }

.form_block-input {
  border-radius: 0.3571428571rem;
  height: 2.5rem;
  padding: 0.7142857143rem 1.2857142857rem;
  border: none;
  width: 100%; }
  .form_block-input:focus {
    border: #f9b43b solid 0.14286rem;
    outline: none !important; }

.comment {
  height: 7.7857142857rem; }

.radiocontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .radiocontainer {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.radio {
  display: none; }

.checkbox {
  display: none; }

.radio-custom {
  width: 1.0714285714rem;
  height: 1.0714285714rem;
  background: #ffffff;
  margin-right: 0.57143rem; }

.radio-custom-circle {
  border-radius: 50%; }

.radio:checked + .radio-custom-circle::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #e45028;
  margin-top: 0.285714285rem;
  margin-left: 0.285714285rem; }

.checkbox:checked + .radio-custom-checkbox::after {
  content: "";
  position: absolute;
  width: 0.5714285714rem;
  height: 0.4285714286rem;
  border: 0.21429rem solid #e45028;
  border-top: transparent;
  border-right: transparent;
  margin-top: 0.1428571429rem;
  margin-left: 0.1428571429rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 10%; }

.check_container {
  margin-bottom: 1.07143rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .check_container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.label_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 768px) {
  .buttons_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.form__submit-button {
  border: none; }

.form__submit-clear {
  background: transparent;
  border: none; }

.wrapper {
  min-width: 0px; }

.container {
  width: auto;
  max-width: 940px; }

.section_centred-team {
  background: url(../img/bg_team.png) center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative; }

.container_team {
  left: 50%;
  height: 100%;
  background-color: #2f3234;
  opacity: 0.93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 6.78571rem;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .container_team {
      left: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0; } }

.title_team {
  color: #f9b43b; }

.team_item {
  color: #ffffff;
  font-family: gagalin;
  margin-bottom: 2.5714285714rem; }
  .team_item:last-child {
    margin: 0; }

.emp_name {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }

.element {
  border: solid transparent 0.5rem;
  border-top-color: #f9b43b;
  margin-right: 0.5714285714rem;
  margin-top: 0.5rem; }

.hidden_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 23.5714285714rem;
  font-family: ubunt;
  font-size: 1rem;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s; }

.hidden_img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 7.14286rem;
  height: 7.14286rem;
  border-radius: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  margin-right: 1.42857rem; }

.proffesion {
  margin-bottom: 1.4285714286rem;
  font-weight: 700; }

.team_item.active .active_color {
  color: #f9b43b; }

.team_item.active .element {
  border-top: transparent;
  border-bottom-color: #f9b43b; }

.section_map {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.map {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%; }

.burger_menu {
  background: url(../img/bg_menu.png) center center no-repeat/cover;
  position: relative;
  color: #fff; }

.container_menu-burger {
  padding-top: 7.64286rem; }

.main_title {
  font-family: gagalin;
  font-size: 5.14286rem;
  text-transform: uppercase; }

.list_menu-burger {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  overflow: hidden; }

.item_menu-burger {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex; }

.menu_bg {
  position: relative;
  width: 5.7142857143rem;
  font-family: 'Gagalin', sans-serif;
  font-size: 2.5rem;
  color: #fff;
  line-height: 5.7142857143rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-transform: uppercase; }

.menu_burger-title {
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 2.8571428571rem;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.menu_text {
  padding-top: 0.71429rem;
  width: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-property: max-width, opacity, visibility;
  -o-transition-property: max-width, opacity, visibility;
  transition-property: max-width, opacity, visibility; }

.menu_bg {
  background: center center no-repeat / cover; }

.footer {
  height: 4.2857142857rem;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5714285714rem 5.7142857143rem;
  position: absolute;
  bottom: 0; }
  @media screen and (max-width: 480px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 8.28571rem; } }

.left_footer {
  font-size: 1rem;
  width: 50%; }
  @media screen and (max-width: 480px) {
    .left_footer {
      text-align: center;
      margin-bottom: 1.35714rem;
      width: 100%; } }

.address {
  color: #ffffff;
  margin-bottom: 0.5rem; }

.phone_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .phone_wrap {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.phone_img-container {
  padding-top: 0.05rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.phone_img {
  width: 0.8571428571rem;
  height: 0.7857142857rem; }

.phone_number {
  margin-left: 0.5rem; }

.phone_link {
  color: #e45028;
  font-style: normal;
  font-weight: 700; }

.right_footer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .right_footer {
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.soc_img-link {
  margin-right: 1.14286rem; }

.soc_img {
  width: 1.4285714286rem;
  height: 1.4285714286rem;
  fill: #5a5a5a; }
  .soc_img:hover {
    fill: #ffffff; }

.menu_mobile {
  position: fixed;
  height: 0;
  top: -10000px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.activeMB {
  top: 0;
  opacity: 1;
  height: auto; }

.close_mobile {
  position: absolute;
  top: 0.71429rem;
  right: 2.14286rem; }

.close_mb {
  height: 2.14286rem;
  width: 0.42857rem; }
  .close_mb::after {
    width: 2.14286rem;
    height: 0.42857rem; }

.mobile_list {
  width: 15.71429rem;
  height: 17.14286rem; }

.mobile_items {
  margin-bottom: 0.71429rem;
  margin-left: 0.71429rem; }
  .mobile_items:last-child {
    margin-bottom: none; }
  .mobile_items:before {
    content: "";
    width: 0.42857rem;
    height: 0.42857rem;
    background: #ffffff;
    border-radius: 50%;
    margin-right: 0.42857rem;
    display: inline-block; }

.mobile_link {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.28571rem; }

.close {
  opacity: 1; }

.review_window {
  position: fixed;
  top: -10000px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 0; }

.activeReview {
  top: 0;
  opacity: 1;
  height: auto; }

.review_block {
  width: 32.85714rem;
  height: 18.21429rem;
  background: #ffffff;
  padding: 2.14286rem 1.42857rem;
  border-radius: 5px; }

.close_review {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1.42857rem;
  right: 1.42857rem; }

.window_title {
  font-family: gagalin;
  font-size: 1rem;
  margin-bottom: 2.14286rem; }

.window_text {
  font-size: 1rem;
  font-weight: 300; }

.order_message {
  position: fixed;
  top: -10000px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  height: 0; }

.activeOM {
  top: 0;
  opacity: 1;
  height: auto; }

.message_block {
  height: 7.71429rem;
  width: 13.92857rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  background: #ffffff; }

.message_text {
  padding-bottom: 1.57143rem;
  font-size: 1rem; }

.btn_message {
  font-size: 0.92857rem;
  text-transform: uppercase;
  width: 6.85714rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/*!
 * fullPage 3.0.4
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.fp-right {
  right: 17px; }

#fp-nav.fp-left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important; }

.fp-slidesNav.fp-bottom {
  bottom: 17px; }

.fp-slidesNav.fp-top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

/*Only display content to screen readers*/
.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

/*# sourceMappingURL=main.css.map */