.best-container {
  @include phones () {
    padding: 0 rem(20px);
  }
}
.best {
  color: black;
}
.best_list {
  display: flex;
  color: #000000;
  align-items: flex-start;
  @include phones () {
    flex-direction: column;
  }

}
.best_img-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 2.1428571429rem;
  align-items: center;
  justify-content: center;
  @include phones () {
    margin-right: rem(27px);
  }
  //width: 6.9285714286rem;
  //height: 6.3571428571rem;
}
.meat {
  width: 6.9285714286rem;
  height: 6.3571428571rem;
}
.best_point {
  flex: 1;
  margin-right: 1.0714285714rem;
  align-items: flex-start;
  &:last-child {
    margin: 0;
  }
  @include phones () {
    display: flex;
    margin-bottom: rem(50px);
    &:last-child {
      margin: 0;
    }
  }
}

.best_point-title {
  font-family: lifehack;
  font-size: 1.7142857143rem;
  text-align: center;
  margin-bottom: 2rem;
  @include phones () {
    text-align: start;
  }
}
.best_description {
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  @include phones () {
    text-align: start;
  }
}