.footer {
  height: 4.2857142857rem;
  background: #000000;
  display: flex;
  padding: 0.5714285714rem 5.7142857143rem;
  position: absolute;
  bottom: 0;
  //flex: 1;
  @include phones() {
    flex-direction: column;
    height: rem(116px);
  }
}
.left_footer {
  font-size: 1rem;
  width: 50%;
  @include phones() {
    text-align: center;
    margin-bottom: rem(19px);
    width: 100%;
  }
}
.address {
  color: #ffffff;
  margin-bottom: 0.5rem;

}
.phone_wrap {
  display: flex;
  @include phones() {
    justify-content: center;
   }
}
.phone_img-container {
  padding-top: 0.05rem; 
  align-items: center;

}
.phone_img {
  width: 0.8571428571rem;
  height: 0.7857142857rem;
}
.phone_number {
  margin-left: 0.5rem;
}
.phone_link {
  color: $red;
  font-style: normal;
  font-weight: 700;

}
.right_footer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include phones() {
    width: 100%;
    justify-content: center;
  }
}
.soc_img-link {
  margin-right: rem(16px);
}
.soc_img {
  width: 1.4285714286rem;
  height: 1.4285714286rem;
  fill: #5a5a5a;
  &:hover {
    fill: #ffffff;
  }
}