.order {
  background: url("../img/bg_order.png") center center / cover no-repeat;
}
.title_order {
  color: $yellow;
}
.form {
  display: flex;
  @include tablets() {
    flex-direction: column;
    margin-left: rem(10px);
    margin-right: rem(10px);
  }
}
.side_order {
  margin-right: 1rem;
  width: 50%;
  &:last-child {
    margin-right: 0;
  }
  @include tablets() {
    width: 100%;
  }
}
.form_row {
  display: flex;
  margin-bottom: 1.1428571429rem;
}
.form_row-street {
  flex-direction: column;
}
.form_block {
  margin-right: 1rem;
  flex: 1;
  width: 100%;
  &:last-child {
    margin-right: 0;
  }
  
}
.form_block-title {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.5714285714rem;
}
.money_back {
  margin-right: rem(20px);
}
.form_block-input {
  border-radius: 0.3571428571rem;
  height: 2.5rem;
  padding: 0.7142857143rem 1.2857142857rem;
  border: none;
  width: 100%;
  &:focus {
    border: $yellow solid 0.1428571429rem;
    outline: none !important;
  }
}
.name_phone {
  //width: calc(32.8571428571rem/2);
}
.street {
  //width: 32.8571428571rem;
}
.address {
  //width: 7.1428571429rem;
  //width: calc(32.8571428571rem/4);
}
.comment {
  height: 7.7857142857rem;
}

.radiocontainer {
  display: flex;
  @include tablets() {
    justify-content: center;
  }
}
.radio {
  display: none;
}
.checkbox {
  display: none;
}
.radio-custom {
  width: 1.0714285714rem;
  height: 1.0714285714rem;
  background: #ffffff;
  margin-right: rem(8px);
}
.radio-custom-circle {
  border-radius: 50%;
}

.radio:checked + .radio-custom-circle::after{
      content: "";
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: $red;
      margin-top: 0.285714285rem;
      margin-left: 0.285714285rem;   
}
.checkbox:checked + .radio-custom-checkbox::after{
  content: "";
  position: absolute;
  width: 0.5714285714rem;
  height: 0.4285714286rem;
  border: 0.2142857143rem solid $red;
  border-top: transparent;
  border-right: transparent;
  margin-top: 0.1428571429rem;
  margin-left: 0.1428571429rem;
  transform: rotate(-45deg);
  border-radius: 10%;
}
.check_container {
  margin-bottom: rem(15px);
  display: flex;
  @include tablets() {
    justify-content: center;
  }
}
.label_check {
  display: flex;
}
.buttons_wrap {
  @include tablets() {
    display: flex;
    justify-content: center;
  }
}
.form__submit-button {
  border: none;
}
.form__submit-clear {
  background: transparent;
  border: none;
}