.review_window {
  position: fixed;
  top: -10000px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
}
.activeReview {
  top: 0;
  opacity: 1;
  height: auto;
}
.review_block {
  width: rem(460px);
  height: rem(255px);
  background: #ffffff;
  padding: rem(30px) rem(20px);
  border-radius: 5px;
}
.close_review {
  position: absolute;
  transform: rotate(45deg);
  top: 15rem;
  right: 31.5rem;
}
.window_title {
  font-family: gagalin;
  font-size: rem(14px);
  margin-bottom: rem(30px);
}
.window_text {
  font-size: rem(14px);
  font-weight: 300;
}