.section_centred-team {
  background: url(../../img/bg_team.png) center center / cover no-repeat;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.container_team {
  width: 50%;
  height: 100%;
  background-color: #2f3234;
  opacity: 0.93; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}
.title_team {
  //color: $yellow;
}

.team_item {
  color: #ffffff;
  font-family: gagalin;
  margin-bottom: 2.5714285714rem;
  &:last-child {
    margin: 0;
  }
}

.emp_name {
  margin-bottom: 1rem;
  display: flex;
  cursor: pointer;
}
.element {
  border: solid transparent 0.5rem;
  border-top-color: yellow;
  margin-right: 0.5714285714rem;
  margin-top: 0.5rem;
}
.hidden_team {
  display: flex;
  width: 23.5714285714rem;
  font-family: ubunt;
  font-size: 1rem;
  height: 0;
  overflow: hidden;
}
.hidden_img {
  margin-right: rem(20px);
}
.proffesion {
  margin-bottom: rem(20px);
  font-weight: 700;
}
