.section_centred-team {
  background: url(../../img/bg_team.png) center center / cover no-repeat;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.container_team {
  left: 50%;
  height: 100%;
  background-color: #2f3234;
  opacity: 0.93; 
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: rem(95px);
  overflow: hidden;
  @include tablets() {
    left: 0;
    align-items: center;
    padding: 0;
  }
}
.title_team {
  //color: $yellow;
}

.team_item {
  color: #ffffff;
  font-family: gagalin;
  margin-bottom: 2.5714285714rem;
  &:last-child {
    margin: 0;
  }
}

.emp_name {
  margin-bottom: 1rem;
  display: flex;
  cursor: pointer;
}
.element {
  border: solid transparent 0.5rem;
  border-top-color: yellow;
  margin-right: 0.5714285714rem;
  margin-top: 0.5rem;
}
.hidden_block-team {
 
  display: flex;
  width: 23.5714285714rem;
  font-family: ubunt;
  font-size: 1rem;
  //height: rem(87px);
  overflow: hidden;
  flex: 0 0 auto;
  height: 0;
  display: none;
}
.hidden_team {
  margin-right: 1.4285714286rem;
  display: none;
}
.hidden_img {
  border-radius: 50%;
}
.proffesion {
  margin-bottom: 1.4285714286rem;
  font-weight: 700;
}
